.landing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    width: 100%;
  }
  
  .left-side {
    flex: 1;
    padding-right: 40px;
  }
  
  .left-side h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .find-button {
    padding: 12px 28px;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    background-color: #36b347e3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .find-button:hover {
    background-color: #f5fcf5;
    color: #000000;
    transform: translateY(-2px);
  }
  
  .right-side {
    flex: 1;
    display: left;
    justify-content: center;
  }
  
  .parking-image {
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(120, 109, 109, 0.738);
  }
  
.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    font-size: 3rem;
    z-index: 10; /* Ensure buttons stay above other content */
  }
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 8%;;
    z-index: 10;
  }
  
  .logo-image {
    height: 40px; /* adjust as needed */
    width: auto;
    border-radius: 8px; /* optional: for rounded corners */
  }
  
  .logo-text {
    font-size: 2rem;
    font-weight: bold;
    color: #eff3f7;
  }
  
  .top-right-buttons button,a {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .top-right-buttons button:hover {
    background-color: #27ae60;
    transform: translateY(-2px);
  }