.parking-container {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 400px;
}

.spot {
  width: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  transition: all 0.3s;
  border: 3px solid black;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.spot.available {
  background-color: #4caf50;
  color: white;
}
.spot.available:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

.spot.booked {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.spot.selected {
  border: 3px solid yellow;
  background-color: #ffeb3b;
  color: black;
}

.booking-panel {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid black;
  display: inline-block;
  background: #0e81183b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
